.main {
  display: flex;
  justify-content: center;

  flex-direction: column;

  width: 100vw;
}

.send-area {
  display: flex;
  justify-content: center;
  gap: 4px;

  padding: 10px;
  width: 100vw;
  
  textarea {
    width: 80vw;
  }
  button {
    width: 10vw;
  }
}

.todo-list {
  margin: 16px;
  padding: 16px;
  border: 1px solid black;
  border-radius: 8px;
}